@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

/* Preloader */

.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
.loadingspinner {
	pointer-events: none;
	width: 3.5em;
	height: 3.5em;
	border: 0.5em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}


/* --------- nav bar ---------  */

.navbar{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.logo{
    padding: 25px 20px;
    text-decoration: none;
    color: #313131;
    font-weight: 600;
}
#menu{
    width: 100%;
    background: #fff;
    position: absolute;
    transition: 0.5s;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: -100vh;
}
#menu.active{
    top: 0;
}
#menu ul{
    list-style: none;
}
#menu ul li{
    padding: 25px;
    text-align: center;
}
#menu ul li a{
    font-weight: 600;
    text-decoration: none;
    color: #313131;
}
#menu-btn{
    padding: 20px;
}
#menu-btn i{
    cursor: pointer;
    font-size: 30px;
    color: #313131;
}
#close-btn{
    position: absolute;
    right: 15px;
    top: 8px;
    cursor: pointer;
    font-size: 30px;
    color: #313131;
}

/* ------- home section -------  */

#home{
    width: 100%;
    height: 100vh;
    background: url(images/1294117.png) center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.main-text{
    text-align: center;
}
.main-text .top{
    font-size: 1vw;
    line-height: 1px;
    font-weight: 600;
}
.main-text h1{
    letter-spacing: 3px;
    color: #313131;
    font-size: 3.8vw;
    transition: all 0.5s ease !important;
}
.main-text h1:hover{
    letter-spacing: 10px;
}
.main-text p{
    font-size: 1vw;
    font-weight: 600;
}

/* ------ about me section -------- */

.about-contents{
    padding: 8vh 0 60px 0;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: 0 auto;
}
#about-me h1{
    font-family: 'Raleway', sans-serif;
    font-size: 4vh;
    text-align: center;
    padding: 50px 0 0 0;
    width: 100%;
    color: #313131;
    font-weight: 800;
}
#about-me h1::before{
    content: "";
    position: relative;
    display: block;
    width: 120px;
    height: 3px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
    top: 7vh;
}
#about-me h1::after{
    content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: #5b6bd3;
    bottom: -2vh;
    left: calc(50% - 20px);
}
.left{
    display: flex;
    align-items: center;
    padding: 5vh;
    width: 30%;
}
.left img{
    border-radius: 50%;
    width: 100%;
}
.right{
    padding-top: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right p{
    font-size: 2.2vh;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #313131;
    line-height: 25px;
}
.right p span{
    font-weight: 700;
}
.right i{
    padding: 0 10px 10px 0 ;
    color:#5b6bd3;
}
.info{
    font-size: 2vh;
    font-weight: 600;
    padding: 20px 0 0 0;
}
.info a{
    text-decoration: none;
    color: #313131;
    padding-left: 6px;
}
.age span{
    font-size: 15px;
    padding-left: 6px;
}

/* ------- skils section ------  */

#project-skills{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* height: 65vh; */
}
.title{
    margin: 30px;
    color: #313131;
    text-align: center;
}
.title::before{
    content: "";
    position: relative;
    display: block;
    width: 120px;
    height: 3px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
    top: 7vh;
}
.title::after{
    content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: #5b6bd3;
    bottom: -1vh;
    left: calc(50% - 20px);
}
.projects{
    height: 400px;
    width: 50%;
}
.project-counter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter-bg{
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 270px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p-icon{
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #5b6bd3;

}
.counter-bg i{
    font-size: 15px;
    color: #fff;
    line-height: 50px;    
}
.counter{
    padding: 15px;
    font-size: 30px;
    color: #313131;
}
.skills{
    width: 50%;
}
.main-bar{
    display: grid;
    place-items: center;
}
.skills-bar{
    width: 400px;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.skills-bar .bar{
    margin: 20px 0;
}
.skills-bar .bar:first-child{
    margin-top: 0;
}
.skills-bar .bar .info{
    margin: 5px;
}
.skills-bar .bar .info span{
    font-size: 15px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.skills-bar .bar .progress-bar{
    position: relative;
    height: 10px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                      0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-bar span{
    height: 100%;
    width: 80%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    position: absolute;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-bar.html span{
    width: 70%;
}
.progress-bar.css span{
    width: 45%;
}
.progress-bar.javascript span{
    width: 30%;
}
.progress-bar.designing span{
    width: 60%;
}
.bar .progress-bar span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}
.bar .progress-bar span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    background: #101010;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
    100%{
        opacity: 1;
    }
}
.progress-bar.html span::after{
    content: "70%";
}
.progress-bar.css span::after{
    content: "45%";
}
.progress-bar.javascript span::after{
    content: "30%";
}
.progress-bar.designing span::after{
    content: "60%";
}

/* ------- contact -------  */

#contact{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-items{
    padding: 5%;
    width: 50%;
    height: 100%;
}
.contact-title{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}
.input-container{
    margin: 1rem 0;
}
.input{
    width: 87%;
    border: 2px solid #fafafa;
    padding: 0.6rem 1.2rem;
    outline: none;
    background: none;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.5s;
}
textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
}
.btn{
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    font-size: 0.95rem;
    color: #273ab0;
    border: 2px solid #fafafa;
    line-height: 1;
    border-radius: 8px;
    outline: none;
    margin: 0;
    transition: 0.3s;
}
.btn:hover{
    background-color: transparent;
    color: #fff;
}
.contact-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}
.contact-info h3{
    color: #5b6bd3;
}
.text{
    color: #333;
    margin: 1.5rem 0 2rem 0;
}
.information{
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
}

/* -------- footer -------- */

footer{
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}
footer h1{
    padding: 17px;
    font-size: 23px;
    color: #313131;
}
footer h2{
    padding-bottom: 10px;
    font-size: 15px;
    color: #313131;
}
.footer-icons{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
.footer-icons a{
    text-decoration: none;
    color: #313131;
    font-size: 15px;
    padding-bottom: 15px;
}
footer p{
    font-size: 12px;
    color: #313131;
    padding-bottom: 10px;
    font-weight: bold;
}

/* ---- responsive media ----  */

  /* ------ nav bar ------  */

@media(max-width: 850px){

    /* ------- home ------  */

    .main-text .top {
        font-size: 15px;
      }
    .main-text h1 {
        font-size: 50px;
    }
    .main-text p{
        font-size: 15px;
        line-height: 6px;
    }
    .social-icons a {
        font-size: 18px;
      }
    
    /* -------about me ------  */
    
    .about-contents{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #about-me h1{
        padding: 30px 0 0 0;
        font-size: 30px;
    }
    .left{
        padding: 25px;
        width: 90%;
    }
    .right{
        padding: 0 30px;
        width: 100%;
    }
    .right p{
        font-size: 16px;
        text-align: center;
    }
    .info{
        font-size: 15px;
    }
    .info {
        font-size: 12px;
      }

    /* ----- skills -----  */

    #skills{
        flex-direction: column;
        align-items: center;
    }
    .projects{
        width: 100%;
        height: 300px;
    }
    .skills{
        width: 100%;
    }
    #project-skills {
        flex-direction: column;
    }
    .counter-bg {
        height: 213px;
        width: 304px;
    }
    .skills-bar {
        width: 310px;
    }

    /* ------ contact section ------  */

    .form{
        grid-template-columns: 1fr;
    }
    .contact-form::before{
        top: -13px;
        left: initial;
        right: 70px;
    }
}

